@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik", sans-serif;
}

header {
    margin-top: 20px;
}

.header {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
}

.header li {
    list-style: none;
}

.header a {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    color: #4F5665;
    line-height: 18.96px;
    text-align: left;
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    gap: 20px;
}

.enter button {
    color: #0B132A;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    margin-top: 10px;
}

.login button {
    color: #F53855;
    border: #F53855 solid 1px;
    border-radius: 50px;
    width: 150px;
    height: 45px;
    background-color: transparent;
}

.login:hover {
    background-color: #fbcb9e;
    transition: 1s;
    border-radius: 50px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main h1 {
    font-family: Rubik;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    text-align: left;
    width: 555px;
    height: 140px;
    display: flex;
    text-align: center;
}

.main p {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    width: 555px;
    height: 60px;
    text-align: left;
}

.main button {
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #F53838;
    color: #FFFFFF;
    box-shadow: 5px 10px 10px #F5383859;
}

.users {
    display: flex;
}

.users p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 0px;
    color: #4F5665;
    margin-left: 5px;
}

.users strong {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-left: 5px;
    margin-top: 0px;
    color: #0B132A;
}

.locations {
    display: flex;
}

.locations p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 0px;
    color: #4F5665;
    margin-left: 5px;
}

.locations strong {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-left: 5px;
    margin-top: 0px;
    color: #0B132A;
}

.servers {
    display: flex;
}

.servers p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 0px;
    color: #4F5665;
    margin-left: 5px;
}

.servers strong {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-left: 5px;
    margin-top: 0px;
    color: #0B132A;
}

.linha {
    height: 125px;
    border: solid 2px #EEEFF2;
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 120px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 130px;
}

.feature-info {
    display: flex;
    flex-direction: column;
}

.feature-info h1 {
    width: 383.41px;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
    color: #0B132A;
}

.feature-info p {
    width: 427.88px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #4F5665;
}

.feature-list li {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #4F5665;
    display: flex;
    gap: 10px;
    align-items: center;
}

.feature-list img {
    width: 24px;
    height: 24px;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.plan-info h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
}

.plan-info p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.plans {
    margin-top: 50px;
    display: flex;
    gap: 120px;
}

.plan-free {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    width: 330px;
    height: 760px;
}

.plan-free ul, li {
    list-style: none;
}

.plan-ul li {
    display: flex;
}

.plan-ul img {
    width: 24px;
    height: 24px;
}

.plan-ul p {
    text-align: center;
    align-items: center;
}

