@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik", sans-serif;
}

header {
    margin-top: 20px;
}

nav {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
}

nav li {
    list-style: none;
}

nav a {
    font-size: 16px;
    font-weight: 400;
    color: #4F5665;
    line-height: 18.96px;
    text-align: left;
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    gap: 20px;
}

.enter button {
    color: #0B132A;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    margin-top: 10px;
}

.login button {
    color: #F53855;
    border: #F53855 solid 1px;
    border-radius: 50px;
    width: 150px;
    height: 45px;
    background-color: transparent;
}

.login:hover {
    background-color: #fbcb9e;
    transition: 1s;
    border-radius: 50px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main h1 {
    font-family: Rubik;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    text-align: left;
    width: 555px;
    height: 140px;
    display: flex;
    text-align: center;
}

.main p {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    width: 555px;
    height: 60px;
    text-align: left;
}

.main button {
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #F53838;
    color: #FFFFFF;
    box-shadow: 5px 10px 10px #F5383859;
}

.users {
    display: flex;
}

.users p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 0px;
    color: #4F5665;
    margin-left: 5px;
}

.users strong {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-left: 5px;
    margin-top: 0px;
    color: #0B132A;
}

.locations {
    display: flex;
}

.locations p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 0px;
    color: #4F5665;
    margin-left: 5px;
}

.locations strong {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-left: 5px;
    margin-top: 0px;
    color: #0B132A;
}

.servers {
    display: flex;
}

.servers p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 0px;
    color: #4F5665;
    margin-left: 5px;
}

.servers strong {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-left: 5px;
    margin-top: 0px;
    color: #0B132A;
}

.linha {
    height: 125px;
    border: solid 2px #EEEFF2;
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 120px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 130px;
}

.feature-info {
    display: flex;
    flex-direction: column;
}

.feature-info h1 {
    width: 383.41px;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
    color: #0B132A;
}

.feature-info p {
    width: 427.88px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #4F5665;
}

.feature-list li {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #4F5665;
    display: flex;
    gap: 10px;
    align-items: center;
}

.feature-list img {
    width: 24px;
    height: 24px;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.plan-info h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
}

.plan-info p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.plans {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.plan-free {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    width: 330px;
    height: 760px;
}

.plan-free ul {
    list-style: none;
}

.plan-free h1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
}

.plan-ul li {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.plan-ul img {
    width: 24px;
    height: 24px;
}

.plan-ul p {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #4F5665;
    width: 156px;
    height: 30px;
}

.plan-standard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    width: 330px;
    height: 760px;
}

.plan-standard h1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
}

.plan-button h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
}

.plan-button button {
    width: 177.88px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid #F53838;
    background-color: transparent;
    color: #F53838;
}

.plan-button button:hover {
    background-color: #f1cfae;
    transition: 1s;
    border-radius: 50px;
}

.plan-premium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    width: 330px;
    height: 760px;
}

.plan-premium h1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
}

.global {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 170px;
}

.global h1 {
    width: 383.41px;
    height: 100px;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
}

.global p {
    width: 555px;
    height: 60px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.global img {
    margin-top: 100px;
}

.redes {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.feedback h1 {
    width: 447.81px;
    height: 100px;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
}

.feedback p {
    width: 555px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.secttion-carousel {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}

main#carousel {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 3;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

div.item {
    position: absolute;
    width: 400px;
    height: 230px;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
    --offset: 1;
    background-image: url(/src/img/Group\ 1162.png);
    background-color: #FFFFFF;
    border-radius: 10px;
}

div.item:nth-of-type(2) {
    --offset: 2;
    background-image: url(/src/img/Group\ 1164.png);
    background-color: #FFFFFF;
    border-radius: 10px;
}

div.item:nth-of-type(3) {
    --offset: 3;
    background-image: url(/src/img/Group\ 1166.png);
    background-color: #FFFFFF;
    border-radius: 10px;
}

input:nth-of-type(1):checked~main#carousel {
    --position: 1;
}

input:nth-of-type(2):checked~main#carousel {
    --position: 2;
}

input:nth-of-type(3):checked~main#carousel {
    --position: 3;
}

.inputs {
    display: flex;
    flex-direction: column-reverse;
}

.inputs input {
    margin-top: -40px;
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    margin-top: 90px;
    position: absolute;
}

.align-sub {
    background-color: #FFFFFF;
    width: 1140px;
    height: 233px;
    border-radius: 10px;
    display: flex;
    gap: 300px;
}

.subscribe button {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: #F53838;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    box-shadow: 5px 10px 10px #F5383859;
}

.subscribe-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 50px;
}

.subscribe-info h1 {
    width: 371.61px;
    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
}

.subscribe-info p {
    width: 410px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}


.footer-section {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    background-color: #F8F8F8;
    width: 100%;
    height: 563.12px;
}

.footer {
    display: flex;
    margin-top: 200px;
    margin-left: 35px;
}

.footer-info p {
    width: 340px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.footer-info h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    color: #AFB5C0;
}

.footer-column {
    display: flex;
    margin-top: -20PX;
    margin-left: 200px;
    gap: 30px;
}

.footer-column h1 {
    width: 131px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}

.footer-column p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.footer-column a {
    text-decoration: none;
}

@media (max-width: 820px) {
    nav {
        display: none;
    }

    .header {
        gap: 30px;
    }

    .buttons {
        gap: 0px;
    }
    
    .enter button {
        font-size: 12px;
        width: 100px;
    }
    
    .login button {
        width: 70px;
        height: 45px;
        font-size: 12px;
    }

    .home {
        flex-direction: column-reverse;
    }

    .home img {
        width: 350px;
        height: auto;
    }

    .main h1 {
        font-size: 30px;
        line-height: 50px;
        width: 355px;
    }
    
    .main p {
        width: 355px;
        margin-bottom: 80px;
    }

    .info-section {
        flex-direction: column;
    }

    .linha {
        display: none;
    }

    .feature {
        flex-direction: column;
    }

    .feature img {
        width: 350px;
        height: auto;
    }

    .feature-info {
        align-items: center;
        justify-content: center;
    }

    .feature-info h1 {
        font-size: 20px;
        line-height: 30px;
        width: 353px;
    }
    
    .feature-info p {
        width: 327px;
        font-size: 14px;
        text-align: center;
    }
    
    .feature-list img {
        width: 24px;
        height: 24px;
    }

    .plans {
        flex-direction: column;
    }

    .global p {
        width: 355px;
    }

    .global img {
        width: 100%;
    }

    .redes img {
        width: 60px;
        height: auto;
    }

    .feedback h1 {
        width: 407.81px;
    }
    
    .feedback p {
        width: 405px;
    }

    .subscribe {
        display: none;
    }

    .footer-section {
        height: 463.12px;
    }    

    .footer-info p {
        width: 240px;
        font-weight: 500;
        font-size: 12px;
    }
    
    .footer-info h3 {
        font-size: 12px;
    }
    
    .footer-column {
       display: none;
    }
  
    .footer {
        margin-top: 100px;
    }
}